<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_empty_world.launch"/>
    <include file="$(find turtle_pkg)/launch/navigation.launch"/>
    <include file="$(find gps_goal)/launch/gps_goal.launch"/>
    <include file="$(find gps_goal)/launch/initialize_origin.launch">
        <arg name="origin" default="auto"/>
    </include>
    <node pkg="turtle_pkg" name="grid_to_gps" type="grid_to_gps.py" output="screen"/>
</launch>
